/* You can add global styles to this file, and also import other style files */
.ngx-json-viewer {
  border: 1px solid #d8d8d8 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
hr {
  border: 1px solid transparent;
  border-bottom: 1px solid #d8d8d8 !important;
}
/*
.hint {
  border-left: 4px solid #7788ff99;
  padding-left: 0.5rem;
}
*/
.hint {
  border-left: 4px solid #7788ff99;
  padding-left: 0.5rem;
}