<main class="container-fluid mt-5">
  <section class="offset-md-2 col-md-8">
    <div class="row">
      <div class="col-9">
        <h2 class="d-inline pr-3">ngx-dictionary-pipe</h2>
        <small class="text-muted pr-5">Version 1.2.3</small>
        <small class="text-muted pr-3">Author: <a href="https://gitlab.com/isc.jfmr">José Francisco Martínez Rangel</a></small>
      </div>
      <div class="col-3">
        <a href="https://gitlab.com/isc.jfmr/ngx-dictionary-pipe" class="btn btn-sm btn-outline-secondary float-right">
          View source code
          <img src="assets/gitlab.svg" width="28px" height="28px">
        </a>
      </div>
      <div class="col-12">
        <hr />
      </div>
    </div>
    <app-menu></app-menu>
    <router-outlet></router-outlet>
  </section>
</main>